<%- include('../../partials/head') %>


<form action="/user/<%= user %>/reservations/<%= reso.id %>" method="POST">
    Type:
    <select name="type" value="<%= reso.type %>">
        <option value="grooming">Grooming</option>
        <option value="daycare">Daycare</option>
        <option value="boarding">Boarding</option>
    </select>
    <br>
    Dog: <em>Your reservation is for <%= reso.dog %> - if you want to change this, select below</em><br>
    <select name="dog" required>
            <% userObj.dogs.forEach(function(d) { %>
            <option><%= d.dogName %></option>
            <% }) %>
        </select>
    </p>

    Check in date: <input type="date" name="checkIn" class="white-text" min="2019-12-01" max="2020-12-01" value="<%= reso.checkIn %>"><br>
    Check out date: <input type="date" name="checkOut" class="white-text" min="2019-12-01" max="2020-12-01" value="<%= reso.checkOut %>"><br>

    Notes?: <textarea name="notes" class="white-text" value="<%= reso.notes %>" width="50%" rows="10"></textarea><br>

<br>
    <button type="submit" class="btn btn-secondary">Update Reservation</button>
</form>
<br>
<form action="/user/<%= user %>/reservations/<%= reso.id %>/?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Delete reservation</button>
</form>


<%- include('../../partials/footer') %>


