<%- include('../../partials/head') %>


<form action="/user/<%= user %>/reservations/<%= reso.id %>" method="POST">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="type">Type:</label>
            <select name="type" class="form-control" value="<%= reso.type %>" required>
                <option value="grooming">Grooming</option>
                <option value="daycare">Daycare</option>
                <option value="boarding">Boarding</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="dog">Dog: <em>Your reservation is for <%= reso.dog %> - if you want to change this, select
                    below</em></label>
            <select name="dog" class="form-control" required>
                <% userObj.dogs.forEach(function(d) { %>
                <option><%= d.dogName %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="checkIn">Check-in:</label>
            <input type="date" name="checkIn" value="<%= reso.checkIn %>" class="white-text form-control"
                min="2019-12-01" max="2020-12-01" required>
        </div>
        <div class="form-group col-md-6">
            <label for="checkOut">Check-out:</label>
            <input type="date" name="checkOut" value="<%= reso.checkOutn %>" class="white-text form-control"
                min="2019-12-01" max="2020-12-01" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="notes">Any notes?:</label>
            <textarea name="notes" class="white-text form-control" value="<% reso.notes %>"></textarea>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-secondary btn-lg btn-block">Update reservation</button>
    <br>
</form>
<form action="/user/<%= user %>/reservations/<%= reso.id %>/?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger btn-lg btn-block">Delete reservation</button>
</form>


<%- include('../../partials/footer') %>
