<%- include('../../partials/head') %>

<%= user %>
<% resos.forEach(function(r) { %>
    <%= r.id %>
    <div class="card border-primary m-3" style="width: 20rem;">
        <div class="card-header" style="text-transform: capitalize;" ><i class="material-icons md-72" >pets</i> <%= r.type %> Reservation
            <a href="/reservations/<%= r.id %>/edit/" class="badge badge-secondary" style="float: right;">
                Update
            </a></div>
        <div class="card-body">
          <h5 class="card-title"> <%= r.dog %></h5>
          <p class="card-text"><h6>Check In: <%= r.checkIn %> Check Out: <%= r.checkOut %> </h6></p>
        </div>
      </div>

<% }); %>

<a href="../show">Back to my profile</a><br>


<%- include('../../partials/footer') %>