<%- include('../../partials/head') %>


<%= user.reservations %>


<% user.reservations.forEach(function(r) { %>
    <div class="card border-primary m-3" style="width: 20rem;">
        <div class="card-header"><i class="material-icons md-72" >pets</i> <%= r.type %></div>
        <div class="card-body">
          <h4 class="card-title"> <%= r.notes %></h4>
          <p class="card-text"><%= r.checkIn %> <%= r.checkOut %></p>
        </div>
      </div>

<% }); %>

<a href="../show">Back to my profile</a><br>


<%- include('../../partials/footer') %>