<%- include('../../partials/head') %>
<section id="user-data">
<% var resos = resos.sort((a, b) => a.checkIn - b.checkIn) %>


<% resos.forEach(function(r) { %>

    
    <div class="card border-primary m-3" style="width: 20rem;">
        <div class="card-header" style="text-transform: capitalize;" ><i class="material-icons md-72" >pets</i> <%= r.type %> Reservation
            <a href="/user/<%= user.id %>/reservations/<%= r.id %>/edit" class="badge badge-secondary" style="float: right;">
                Update
            </a>

          </div>
        <div class="card-body">
          <h5 class="card-title"> <%= r.dog %></h5>

          <p class="card-text">Check In: <%= moment(r.checkIn).format("MM/D/YY @ h a") %><br>
            Check Out: <%= moment(r.checkOut).format("MM/D/YY @ h a") %>
             <br> 
             <% if (r.notes !== '') { %>
             <i class="material-icons">
                event_note
                </i>
                <em><%= r.notes %></em>
              </p>
            <% }; %>
        </div>
      </div>

<% }); %>
</section>
<a href="../show">Back to my profile</a><br>


<%- include('../../partials/footer') %>