<%- include('../partials/head') %>

<br>
<form action="/user/<%= id %>" method="POST">
	<div class="form-group">
	Full Name: <input type="text" name="name" class="white-text" value="<%= user.name %>" required><br>
	Email:<input type="email" name="email" class="white-text" value="<%= user.email %>" required><br>
	Authorized Persons:<input type="text" name="authorizedppl" class="white-text" value="<%= user.authorizedppl %>"><br>
	Phone Number: <input type="number" name="phone" class="white-text" value="<%= user.phone %>" required><br>
	Street Address: <input type="number" name="streetAdd" class="white-text" value="<%= user.streetAdd%>">
	Street Name: <input type="text" name="street" class="white-text" value="<%= user.street%>"><br>
	City: <input type="text" name="city" class="white-text" value="<%= user.city%>"><br>
	Zip: <input type="number" name="zip" class="white-text" value="<%= user.zip%>"><br>
	Vet Name: <input type="text" name="vetName" class="white-text" value="<%= user.vetName %>" required><br>
	<strong>Emergency Contact:</strong>
	<br> First Name: <input type="text" name="emergencyContactfn" class="white-text" value="<%= user.emergencyContactfn %>" required>
	Last Name:<input type="text" name="emergencyContactln" class="white-text" value="<%= user.emergencyContactln %>" required><br>
	<br>
	<button type="submit" class="btn btn-secondary">Update Profile</button>
</div>
  </form>

  <%- include('../partials/footer') %>