<%- include('../partials/head') %>

<form action="/user/<%= user._id %>" method="POST">
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="name">Full Name:</label>
			<input type="text" name="name" class="white-text form-control" value="<%= user.name %>" required>
		</div>
		<div class="form-group col-md-6">
			<label for="email">Email:</label>
			<input type="email" name="email" class="white-text form-control" value="<%= user.email %>" required>
		</div>
	</div>
	<div class="form-row form-group">
		<label for="phone">Phone Number:</label>
		<input type="number" name="phone" class="white-text form-control" value="<%= user.phone %>" required><br>
	</div>

	<div class="form-row form-group">

		<label for="authorizedppl">Authorized Persons:</label>
		<input type="text" name="authorizedppl" class="white-text form-control" value="<%= user.authorizedppl %>">
	</div>
	<div class="form-row form-group">

		<div class="form-group col-sm-3">
			<label for="streetAdd">Street Address: </label>
			<input type="number" name="streetAdd" class="white-text form-control" value="<%= user.streetAdd%>">
		</div>
		<div class="form-group col-sm-9">
			<label for="street">Street + Unit (if applicable)</label>
			<input type="text" name="street" class="white-text form-control" value="<%= user.street%>">
		</div>
	</div>
	<div class="form-row form-group">
		<div class="form-group col-md-6">
			<label for="city">City</label>
			<input type="text" name="city" class="white-text form-control" value="<%= user.city%>">
		</div>
		<div class="form-group col-md-6">
			<label for="zip">Zip code</label>
			<input type="number" name="zip" class="white-text form-control" value="<%= user.zip%>">
		</div>
	</div>
	<div class="form-row form-group">
		<label for="vetName">Vet Name:</label>
		<input type="text" name="vetName" class="white-text form-control" value="<%= user.vetName %>" required>
	</div><br>
	<strong>Emergency Contact:</strong>

	<div class="form-row">

		<div class="form-group col-md-6">
			<label for="emergencyContactfn">First Name: </label>
			<input type="text" name="emergencyContactfn" class="white-text form-control"
				value="<%= user.emergencyContactfn %>" required>
		</div>
		<div class="form-group col-md-6">
			<label for="emergencyContactln">Last Name: </label>
			<input type="text" name="emergencyContactln" class="white-text form-control"
				value="<%= user.emergencyContactln %>" required>
		</div>
	</div>
	<br>
	<button type="submit" class="btn btn-secondary">Update Profile</button>

</form>

<%- include('../partials/footer') %>